<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instagram</title>
</head>
<body>
    <% if (data) { %>
    <h2>Instagram Profile: <%= data.name %></h2>
    <p>Followers: <%= data.followers %></p> &nbsp; &nbsp; &nbsp; &nbsp; <p>Following: <%= data.following %></p>
<% } else { %>
    <h2>User not found</h2>
<% } %>
<button>Follow</button>
<button>Message</button>
<hr>

<% for (let post of data.posts) { %>

    <img src="<%= post.image %>" alt="Some Image" width="200">

    <p>
        Likes: <%= post.likes %> &nbsp;&nbsp;&nbsp;&nbsp;
        Comments: <%= post.comments %>
    </p>

<% } %>
    
</body>
</html>



